# Java ignores
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# C ignores
a.out
*.o
*.a
*.so

# Editor ignores
*.bak
*.swp
*.swo
*~
.DS_Store
*.xcodeproj


# Other
*.exe
*.tgz
*.tar
*.pkg
*.dmg
*.img
*.iso
*.dll
